* {
    margin: 0;
    padding: 0;
    color: #edfaee;
    overscroll-behavior-y: none;
}

body {
    background-color: #1f1919;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #2e2828;
    font-size: 27px;
    padding: 20px;
    text-align: center;
    position:relative;
}

main {
    display: flex;
    justify-content: space-between;
    left: 0;
    width: 85%;
    padding: 20px;
}

section {
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

#left-section {
    flex: 3;
    padding: 20px;
    border: 1px solid #2e2828;

}

#middle-section {
    flex: 6;
    padding: 20px;
    border: 1px solid #2e2828;

}

#right-section {
    flex: 1;
    padding: 20px;
    padding-left: 25px;
    padding-right: 15px;
}

.sidenav {
    height: 100%;
    width: 10%;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 20px;
    background-color: #2e2828;
    font-size: 22px;
    text-align: center;
    color: #edfaee85;
    overflow-x: hidden;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;

}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    display: block;
}

.sidenav a:hover {
    color: #fa5d02;
}

h1 {
    font-size: 24px;
    color: #edfaee;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    color: #edfaee;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #edfaee;
    margin-bottom: 19px;
}

footer {
    background-color: #2e2828;
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #cbf7ce;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: block;
    padding: 10px 20px;
    background-color: goldenrod;
    color: hotpink;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: greenyellow;
}

.container {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
}
