* {
    margin: 0;
    padding: 0;
    color: #edfaee;
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
}

body {
    background-color: #1f1919;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #2e2828;
    font-size: 27px;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
 }

main {
    display:flex;
    left: 0;
    width: 85%;
    padding: 20px;
    padding-top: 90px;
}

section {
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

#edu-sec {
    background: #2e2828;
    border-radius: 8px;
    left: 0;
    display: flex;
}

#edu-inner {
    left: 0;
    flex: auto;
    border-color: #1f1919;
    border-radius: 8px;
}
#edu-inner2 {
    left: 0;
    flex: 3;
    border-color: #1f1919;
    border-radius: 8px;
}

#inner-section {
    padding: 10px;
    background:#2e2828;
    border-radius: 8px;
    margin-bottom: 10px;
}

#inner-section2 {
    padding: 20px;
    background:#2e2828;
    border-radius: 8px;
    margin-left: 1%;
    min-width: 10em;
    max-width: 15em;
}
#inner-section3 {
    padding: 20px;
    background:#2e2828;
    border-radius: 8px;
    left:0;
    margin-left: 1%;
    min-width: 16em;
    max-width: 20em;
}

#full-section {
    border-radius: 8px;
    display: inline;
    padding: 10px;
    flex:auto;
    left:0;
}

#full-section2 {
    display: flex;
    width:60%;
    flex:auto;
    left: 0;
    flex-wrap: wrap;

}  

#left-section {
    flex: auto;
    padding: 10px;
    display: inline-block;
    border: none;

}

#middle-section {
    flex: 6;
    padding: 20px;
    border: 1px solid #2e2828;

}

#right-section {
    flex: 1;
    display: inline-block;
    padding: 20px;
    padding-left: 25px;
    padding-right: 15px;
    border: none;
}

#left-header {
    display: flex;
    flex:1;
    left: 0;
    width: 10%;
}

.sidebar {
    width: 10%;
    padding: 15px;
    background-color: #2e2828;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    right: 0;
    resize: none;
    top: 12%;
    bottom: 12%;
    
    z-index: 1;
    border-radius: 8px;
    word-wrap: break-word;

}

nav ul {
    padding: 0;
    resize: both;
    font-size: 1.3vw;
    max-width: 100%;
    max-height: 10%;
    line-height: 10vh;
}


nav ul a {
    transition: all ease-out 225ms;
    text-decoration: none;
    display: block;
    padding: 10;

}

nav ul a:hover {
    font-size: 1.35vw;
    color: #fa5d02;
}

.sidenav {
    height: 100%;
    width: 10%;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 15%;
    background-color: #2e2828;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #edfaee85;
    overflow-x: hidden;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

.sidenav a {
    padding: 10px;
    line-height: 2.5;
    text-decoration: none;
    display: block;
}

.sidenav a:hover {
    color: #fa5d02;
}

h1 {
    font-size: 24px;
    color: #edfaee;
    margin-bottom: 10px;
    justify-content: space-between;
    display: block;
    width: 15%;
}
h6 {
    font-size: 24px;
    color: #edfaee;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    color: #edfaee;
    margin-bottom: 5px;
}

h3 {
    font-size: 17px;
    color: #edfaee;
    margin-bottom: 5px;
}

h4 {
    font-size: 14;
    color: #d7eed99a;
    margin-bottom: 5px;
}

h5 {
    font-size: 21px;
    color: #edfaee;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #edfaee;
    margin-bottom: 19px;
}

ul {
    list-style-type: disc;
}

footer {
    background-color: #2e2828;
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #cbf7ce;
}

a:hover {
    text-decoration: underline;
}
button {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 5px;
    padding-right: 5px;
    background: #f3d7d736;
    border-radius: 8px;
    border-color: #edfaee72;
    border-width: 1px;
    color: #edfaee72;
    cursor: pointer;
}
.button {
    display: block;
    padding: 10px 20px;
    background-color: rgba(218, 165, 32, 0.22);
    color: hotpink;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: greenyellow;
}

.container {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
}

.active {
    color:aqua;
    font-weight: 555;
}

#more {display: none;} 